@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
    height: 100%;
}

p {
    margin-top: 1rem; line-height: 1.5rem;
}

a {color: rgb(34 211 238 / 1);}